.contactItem {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 25px 15px;
    border-top: 1px solid #e6e6e6;
    transition: .3s;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}